.one{
   height: 100px;
    width: 70px;
    background-color: black;
    border: 2px solid yellow;
   box-shadow: 5px 5px 5px #261f1f;
    border-radius: 10px;
    
}    
.two{
    height: 20px;
    width: 30px;
    background-color: red;
    margin: 10px 20px 10px;
    border-radius: 10px;
}
.three{
    height: 20px;
    width: 30px;
    background-color: yellow;
    margin: 0px 20px 10px;
    border-radius: 10px;
}
.for{
    height: 20px;
    width: 30px;
    background-color: green;
    margin: 0px 20px 10px;
    border-radius: 10px;
}
.mane{
    height: 150px;
    width: 30px;
    background-color: black;
    margin: 0px 22px 20px;
    box-shadow: 5px 0px 5px rgb(50, 47, 47);
}